<div id="form">
<img class="center" src="/assets/Capture2.png" alt="image"><br>
<hr style="width:100%;text-align:left;margin-left:0">
<div class="row">
<div class="column">
<h5>March 1-3, 2023</h5>
<h6>Email this form to register now!</h6>
<p>Email: info@syllabusx.com</p>
<h6>Main Group Coordinator Contact Information</h6>
<p>Contact person for any questions regarding these registrations</p>
<form>
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div><br>
  <div>
    <label for="Title">
      Title
    </label>
    <input id="Title" type="text" formControlName="Title">
  </div><br>
  <div>
    <label for="Email">
      Email
    </label>
    <input id="Email" type="text" formControlName="Email">
  </div><br>

  <div>
    <label for="Phone">
      Address
    </label><br>
    <input id="Phone" type="text" formControlName="Phone">
    <label for="Fax">
      Fax
    </label>
    <input id="Fax" type="text" formControlName="Fax">
  </div><br>
  <label for="Mobile">
    Mobile No(Optional)
  </label><br>
  <input id="Mobile" type="text" formControlName="Phone">

  <h5>Organization Details</h5>

  <div>
    <label for="Email">
      Organization
    </label><br>
    <input id="Email" type="text" formControlName="Email">
  </div><br>
  <div>
    <label for="Email">
      Type
    </label><br>
    <input id="Email" type="text" formControlName="Email">
  </div><br>
  <div>
    <label for="Email">
      Website
    </label>
    <input id="Email" type="text" formControlName="Email">
  </div><br>
  <div>
    <label for="Email">
      Address1
    </label>
    <input id="Email" type="text" formControlName="Email">
  </div><br>
  <div>
    <label for="Email">
      Address2
    </label>
    <input id="Email" type="text" formControlName="Email">
    <label for="Email">
      City
    </label>
    <input id="Email" type="text" formControlName="Email">
  </div>
  <div>
    <label for="Email">
      State
    </label>
    <input id="Email" type="text" formControlName="Email">
    <label for="Email">
      Zip
    </label>
    <input id="Email" type="text" formControlName="Email">
    <label for="Email">
      Country
    </label>
    <input id="Email" type="text" formControlName="Email">
  </div><br>
</form>
</div>
<div class="column">

<h4>Group Registration Form</h4>
<button  (click)="download()">Save</button>
<button type="submit">Reset</button>         
<p>Please save the filled form on your PC and emai</p>
<h4>Conference:</h4><p>March 1-2, 2023</p>
<h4>Workshop:</h4><p>March 3, 2023</p>
<h4>Venue:</h4><p>Washington, DC</p>
<label><b>Refund Policy, Delegate Cancellations and Transfer</b></label>
<p>Registration cancellation requests received in writing at least thirty days (30 days)
  prior to the event will qualify for a full refund and less 5% administrative fee.
  Should the original delegate be unable to attend, a substitute delegate is
  welcome at no extra charge. Any cancellation or
  substitution requests should be made to <b>info@syllabusx.com</b></p>
  <h6>Confirmation Details / Shipping Policy</h6>
  <p>SyllabusX conferences registration is electronic only. No items will ship in hard
    copy via mail or postal service. After completing registration online or emailing a
    registration form, you will receive a confirmation email with a summary of your
    registration details, which we recommend you retain for your own records.
    Delegates can receive their printed badge upon presenting a valid governmentissued ID. If you do not receive an email confirming your registration details two
    weeks prior to the conference, please contact SyllabusX.</p>
<h6>Group Registration Discount:</h6>
<p>Complimentary Registrations are availablefor groups of five paid attendees or more from the same organization are available.</p>
<h6>Registration Fees</h6>
<p> are inclusive of program materials, conference breakfast,
  lunch and breaks.</p>
  <h5>Complimentary Registration</h5>
  <div class="row">
  <img src="/assets/Capture1.png" alt="image"><br>
  <div class="column">
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle1"> 1 for every 5 Paid Registrations</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2"> 2 for every 7 Paid Registrations</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
<label for="vehicle3"> 3 for every 8 Paid Registrations</label><br>
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1"> 4 for every 11 Paid Registrations</label>
</div><br></div><br></div><br>
</div><br>

<table border="2" bordercolor="green" style="width:100%">
  <tr>
    <th colspan="2">&nbsp;Registration Type</th>
    <th>Super Early Bird
      By December 9</th> 
    <th>Early Bird By January 27</th>
      <th>Standard</th>
      <th>Onsite</th>
      <th>Delegates</th>
      <th>Total</th>
  </tr>
  <tr>
    <td rowspan="2">&nbsp;Academic, Nonprofit
      & Government
      Organizations</td>
<td>&nbsp;Conference Only</td>
    <td><input type="checkbox" name="vehicle1" >$1,787</td>
    <td><input type="checkbox" name="vehicle1" >$1,885</td>
    <td><input type="checkbox" name="vehicle1" >$1,985</td>
    <td><input type="checkbox" name="vehicle1" >$2,085</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
      <td>Conference & Workshop </td>
      <td><input type="checkbox" name="vehicle1" >$2,058</td>
    <td><input type="checkbox" name="vehicle1" >$2,058</td>
    <td><input type="checkbox" name="vehicle1" >$2,285</td>
    <td><input type="checkbox" name="vehicle1" >$2,385</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td rowspan="2">&nbsp;Academic, Nonprofit
      & Government
      Organizations</td>
<td>&nbsp;Conference Only</td>
      <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,185</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,285</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,385</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,485</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
      <td> Conference & Workshop </td>
      <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,485</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,585</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,685</td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" >$2,785</td>
    <td>0</td>
    <td>0</td>
  </tr>
  
</table>
<div class="row"><div class="column">
<h4>Payment Information</h4>
  <input type="radio" name="radio1">
  <label><b>CHARGE</b>(indicate type)</label><br>
  <input type="radio"  name="radio2">
  <label>Visa</label>
  <input type="radio"  name="radio3">
  <label>Msater Card</label>
  <input type="radio" name="fav_lradio4anguage">
  <label>American Express</label><br>
<div>
  <label for="name">
    Name of Card
  </label>
  <input id="name" type="text" formControlName="name">

  <label for="name">
    Account #
  </label>
  <input id="name" type="number" formControlName="name">
</div><br>
<div>
  <label for="name">
    Exp. Date
  </label>
  <input id="name" type="number" formControlName="name">
  <label for="name">
    Security Code
  </label>
  <input id="name" type="number" formControlName="name">
</div><br>

<div>
  <label for="name">
    Billing Address
  </label>
  <input id="name" type="Address" formControlName="name">
</div><br>
<div>
  <label for="name">
    City
  </label>
  <input id="name" type="text" formControlName="name" style="width:20%">
  <label for="name">
    State
  </label>
  <input id="name" type="text" formControlName="name" style="width:20%">
  <label for="name">
    Zip
  </label>
  <input id="name" type="text" formControlName="name" style="width:20%">
</div><br>
<div>
  <label for="name">
    Cardholder Signature
  </label>
  <input id="name" type="text" formControlName="name">
  <label for="name">
    Date
  </label>
  <input id="name" type="date" formControlName="name">
  </div><br>
    </div>
    <div class="column">

      <h4>Ways to Register</h4>
      <b>Online:</b>
      <a href="http://www.ccpconference.com/" target="_blank">www.CCPconference.com</a><br>
      <b>Register by Email:</b>
      <p>Send registration form and credit card info or purchase order to info@syllabusx.com</p>
      <b>Register by Phone:</b>
      <p>Phone your registration by calling 703-466-0022 with your Visa, MasterCard or purchase order information</p>
      <b>Register by Mail:</b>
      <p>Send form with check or credit card information to SyllabusX, 1900 Campus Commons Drive #100, Reston, VA 20191</p>
    </div>
  </div>
  <p class="center"><b>Produced By:</b> SyllabusX,1900 Campus Commons Dr 100, Reston, VA 20191 Reset Save Print Form, Phone (703) 466-0011</p>
  <hr style="width:100%;text-align:left;margin-left:0"><br>
  <img class="center" src="/assets/Capture2.png" alt="image"><br>
  <hr style="width:100%;text-align:left;margin-left:0"><br>
    <h4>March 1-3, 2023</h4>
    <p>Complete this registration form if you would like to register 5 or more individuals from your agency or organization to attend the CCP Conference in Washington, DC</p>
    <div class="row">
    <div style="width:27%">
      <label for="name">
        Group Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="name">
        Total Number of Registrants
      </label>
      <input id="name" type="number" formControlName="name">
    </div></div><br>
    <h3 class="center">Group Registrant Information</h3>
    <h4>Name(s) of Paid Registrant(s)</h4>
    <table style="width:100%">
      <tr>
        <th>No.</th>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Title</th>
        <th>Agency/Organization</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>1</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>3</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>4</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>5</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>6</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>7</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>8</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>9</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
      <tr>
        <td>10</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
      </tr>
    </table>
<p>To add more registrants, please copy this page.</p>
<h4>Name(s) of Free Registrant(s)</h4>
<table style="width:100%">
  <tr>
    <th>No.</th>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Title</th>
    <th>Agency/Organization</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>1</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>2</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>3</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>4</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>5</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>6</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>7</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>8</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>9</td>
    <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
  <tr>
    <td>10</td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
        <td><input type="text" name="vehicle1" style="width:97%"></td>
  </tr>
</table>
<p>To add more registrants, please copy this page.</p>
  <p class="center">If you have questions, please contact us at (703) 466-0011, or via e-mail at info@syllabusx.com.</p>
  </div>
<router-outlet></router-outlet>